.parallax-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-page {
    background-image: url('yayoi.jpg');
    padding-top: 5em;
    padding-bottom: 5em;
    height: 100vh;
}


h1 {
    padding-top: 9em;
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: bolder;
    color: whitesmoke;
}


h2 {
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    color: whitesmoke;
}