#portfolioSection {
    height: auto;
    background-color: #327A83;
}

.comingSoon {
    color: whitesmoke;
    font-family: 'Share Mono Tech';
    font-size: 2em;
    height: 200px;
    display: flex;
    align-items: center;
}

.buttonBox {
    display: inline-block;
    padding: 5%;
}

.projectGrid {
    display: grid;
    background: #343a40;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 3px;
}

.projectGrid:hover>.itemOne {
    opacity: 0;
    z-index: 0;
}

.projectGrid:hover>.itemTwo {
    opacity: 1;
    z-index: 1;
}

.projectDisplay {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolioImage {
    max-width: 100%;
    height: 60vh;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
}

.itemOne {
    opacity: 1;
    grid-area: 1 / 1 / 2 / 2;
    transition: 0.4s;
}

.itemTwo {
    opacity: 0;
    grid-area: 1 / 1 / 2 / 2;
    background: #343a40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
}

.projectTitle {
    text-decoration: underline;
    text-decoration: bold;
    font-family: 'Share Tech Mono';
    font-size: 1.5em;
    margin-bottom: 5%;
}

@media screen and (min-width: 600px) {
    .projectGrid {
        margin: 10px 20vw;
    }
}

@media (max-width: 600px) {
    .portfolioImage {
        width: auto;
        height: 30vh;
    }
}