#aboutSection {
    background-color: rgba(252, 68, 69);
}

h3 {
    font-family: Share Tech Mono;
    font-weight: bold;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

#aboutDescription {
    padding-left: 10%;
    padding-right: 10%;
}