#section1 {
    padding: 1em;
    height: auto;
    color: #fff;
    background-color: rgba(252, 68, 69);
    /* text-align: center; */
    border-radius: 3px;
    display: flex;


}

#about-section {
    padding-top: 1em;
    margin-left: 6em;
    margin-right: 6em;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 5px;
    color: black;
    /* text-align: center; */
    word-wrap: break-word;
    flex: 1;
}


@media screen and (max-width: 950px) {
    #about-section {
        margin: 0.2em;
        background: rgba(255, 255, 255, 0.72);
        border-radius: 5px;
    }
}

h3 {
    font-family: Share Tech Mono;
    font-weight: bold;
    text-align: left;
    padding-bottom: 1em;
}

p {
    font-family: Lato;
    text-align: left;
}

#resume-button {
    font-family: Share Tech Mono;
    color: black;
    margin: 0.8em;
    transition-duration: 0.4s;
    border: 2px solid #327A83;
    background-color: #fff;
}

#resume-button:hover {
    background-color: #327A83;
    color: white;
}